.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.first-part {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
}

.bg-container {
  background-color: lightblue;
  min-height: 100vh;
}
.item-style {
  color: black;
  font-weight: bold;
}
.status-box {
  width: 300px;
  height: 50px;
  background-color: lightgreen;
  color: blue;
  text-align: center;
  padding-top: 10px;
  border-radius: 5px;
  margin-bottom: 2px;
}

.loan-approved {
  color: green;
  font-weight: bold;
  text-align: center;
}
.loan-rejected {
  color: red;
  font-weight: bold;
  text-align: center;
}
.table-bg-top {
  background-color: snow;
}
.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.customer-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 5px;
}
